body
{
font-family: Arial, Helvetica, sans-serif;
font-size: 5px;
line-height: 1.5;
padding: 0;
padding: 0;
}
.container{
  
    margin: auto;
    overflow: hidden;
  
}



#sidebar{
    background-color:#c7d5e0 ;
   width:100%;
   height:100%;
   color:white;
   
   margin-top:10px;
   
}

.btn2{
  
    border-radius:10px;
    border:black;
    background-color:#66c0f4;
width:30px;
}

#sidebar ul li{
    padding:10px 10px;
    border-bottom: 1px solid gray;
}
header{
    background-color:#1b2838;
      color:#c7d5e0;
      padding-top: 10px;
      min-height: 100px;
      border-bottom: tomato 3px solid;
  }
 
 
  header #branding{
      float: center;
      font:8px;
  }
  #branding span{
      color:#66c0f4;
    
  }
 
#current a{
      color: #171a21;
      font-weight: bold;
  }
   
  .intr{
    float:right;
   
    
}
 #sel
 {
width:15px;
margin-top: 3px;
  background-color:#c7d5e0;
    height: 29px;
    
 }
 .search1
 {
     width:100%;
 }
.but
{
    

   height: 30px;
   border-radius: 30px;
   width:40px;
 border:#66c0f4;
background-color:#66c0f4;
}
.but:active{
    
    transform: translatey(4px);
}

#login form{
    margin-top: 50px;

    text-align: center;
border: solid;

font-size:16px;
font-weight: bold;
overflow: hidden;
width: 100%;
float: center;


}
.userid{
text-align: initial;
}

/* showcase */
#show{
    min-height: '400px';
    background:url('slide1.jpg') no-repeat ;
    text-align: initial;
    text-transform: uppercase;
    font-weight: bold;
    height: 400px;
    color:darkslategray;
}
#show h1{
    margin-top:100px;
    font-size: 55px;
    font-weight: bold;
    
}

#info 
{
 
   border: solid;

    width:100%;
}
.we{
    width: 100%;
}
#acc
{ 
    background-color: tomato;
    padding: 30px;
    margin-left:0px;
    border: solid;
    border-color: black;
 
    width:100%;
    text-align: right;
}
.ima{
    float: left;
   margin-top: 0px;
}
#new{
    background-color:goldenrod;
    border: solid;
}
.del{
    float:right;
}
.leg{
    font-weight: bold;
    font-size: 30px;
    }
    .button{   
    font-weight: bold;
font-size: 12px;
box-shadow: 0 5px gray;
border-radius: 10px;
    }
    .button:hover
{
background-color:red;
font-weight: bold;
font-size: 15px;
box-shadow: 0 5px gray;
border-radius: 10px;
}
.button:active{
    background-color:red;
font-weight: bold;
font-size: 15px;
box-shadow: 0 5px gray;
border-radius: 10px;
transform: translatey(4px);
}
#rec
{
    background-color: skyblue;
    border: solid;
}
.clo{
   margin-top: -30px;
    float: right;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
}
.clo:hover{
transform: scale(1.5);
}
.prev{
    font-weight: bold;
    font-size: 30px;
}
.prev1{
    float:right;
}
#side{
    width:100%;
    background-color: teal;
    overflow: hidden;
color:white;
height:auto;
text-align: center;
}
.menu:hover{
    font-weight: bold;
    font-size: 20px;
    color:tomato;

}
.clothes{
    margin-top: 40px;
}
.row{
    box-sizing: border-box;
}
.coloumn{
    
    width:200px;
    padding:15px;
    margin-left: 100px;
    border:outset;
    background-color:white;
}

.coloumn:hover{
    transform: scale(1.5);
}
.case{

 background-color:antiquewhite;
  padding: 100px;
 
}
.high{
    border:solid;
    border-radius:10px ;
    text-align: center;
    background-color: greenyellow;
}
.g1{
    background-color: yellow;
    width: 100%;
}
.hea{
    font-weight: bold;
    
}
.logimg{
left:20px;
}

footer
{ 
    border-top:  tomato 3px solid;
    background-color: #1b2838;
color:#c7d5e0;
}

footer .show{

        float: left;
        
    width:30%;

}
